<!DOCTYPE HTML>
<html>
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Hello, World!</title>
    
    {% block css %}{% end %}
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    {% block js %}{% end %}
  </head>
<body>
<div id="wrap">
    <div id="container">
      <div class="inner">
        <div class="content">
          {% block content %}{% end %}
        </div>
      </div>
    </div>
    <div id="footer">
        <div class="inner">
          <p class="info"><span>Copyright &copy; Аll Rights Reserved</span> </p>
	</div>
    </div>

    <a style="display:none;" rel="nofollow" href="#header" id="go-to-top">▲</a>
</div>

</body>
</html>
